<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <div class="navbar-brand">
          <%= link_to "Sample app", root_path, id: "logo" %>
        </div>  
          <nav>
            <ul class="nav navbar-nav pull-right">   
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Sign in", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>